:root {
    --sl-font: 'Inter Variable', var(--sl-font-system);

    --sl-color-black: #09090b;
    --sl-color-gray-6: #18181b;
    --sl-color-gray-5: #27272a;

    --sl-color-accent-low: #27272a;
    --sl-color-accent: #f4f4f5;
    --sl-color-accent-high: #ffffff;
}

:root[data-theme='light'] {
    --sl-color-black: #ffffff;
    --sl-color-gray-6: #f4f4f5;
    --sl-color-gray-5: #e4e4e7;

    --sl-color-accent-low: #f4f4f5;
    --sl-color-accent: #18181b;
    --sl-color-accent-high: #09090b;
}

.sl-markdown-content a:not(:where(.not-content *)) {
    color: #c084fc;
    text-decoration: underline;
    text-underline-offset: 0.25em;
    transition: color 0.15s ease;
}

.sl-markdown-content a:not(:where(.not-content *)):hover {
    color: #ddccff;
}
